{% load static %}
<!doctype html>
<html>
    <head>
        <title>What's in my drug?</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'mainview/styles.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    </body>  
</html>