{% extends "mainview/base.html" %}
{% block content %}
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <img width="600" height="600" src="/media/logo.png" uk-svg>
    </div>
</div>
     
      <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-width-1-6@m"></div>
     
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <ul uk-accordion>
              <li>
                <a class="uk-accordion-title uk-text-large" style="color:#24718A" href="#">Intput ingredients</a>
     
                </a>
                <div class="uk-accordion-content">

                  <form method="POST" action="{% url 'search-drugs'%}">
                    {% csrf_token %}
                    <input placeholder="Enter substances separated by commas" class="uk-input uk-margin-small-bottom" type="text" name="substances"></input>
                    <button type="submit" formmethod="post" style="color: white; background-color: #24718A;" class="uk-button uk-button-secondary uk-width-1-1" name="text-input">Search</button>
                  </form>
     
                </div>
              </li>
              <li>
                <a class="uk-accordion-title uk-text-large" style="color:#24718A" href="#">Upload photo</a>
                <div class="uk-accordion-content">


                  <form method="POST" action="{% url 'search-drugs' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                        <input type="file" name="image">
     
                    <button type="submit" style="color: white; background-color: #24718A;" class="uk-button uk-button-secondary uk-width-1-1" name="image-input">Search</button>
                  </form>


                </div>
              </li>
     
            </ul>
            <script>
              var bar = document.getElementById('js-progressbar');
     
              UIkit.upload('.js-upload', {
     
                url: '',
                multiple: true,
     
                beforeSend: function() {
                  console.log('beforeSend', arguments);
                },
                beforeAll: function() {
                  console.log('beforeAll', arguments);
                },
                load: function() {
                  console.log('load', arguments);
                },
                error: function() {
                  console.log('error', arguments);
                },
                complete: function() {
                  console.log('complete', arguments);
                },
     
                loadStart: function(e) {
                  console.log('loadStart', arguments);
     
                  bar.removeAttribute('hidden');
                  bar.max = e.total;
                  bar.value = e.loaded;
                },
     
                progress: function(e) {
                  console.log('progress', arguments);
     
                  bar.max = e.total;
                  bar.value = e.loaded;
                },
     
                loadEnd: function(e) {
                  console.log('loadEnd', arguments);
     
                  bar.max = e.total;
                  bar.value = e.loaded;
                },
     
                completeAll: function() {
                  console.log('completeAll', arguments);
     
                  setTimeout(function() {
                    bar.setAttribute('hidden', 'hidden');
                  }, 1000);
     
                  alert('Upload Completed');
                }
     
              });
            </script>
     
     
     
     
          </div>
        </div>
        <div class="uk-width-1-6@m"></div>
      </div>
{% endblock content %}