{% extends "mainview/base.html" %}
{% block content %}
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <img width="600" height="600" src="/media/logo.png" uk-svg>
    </div>
</div>
     
      <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-width-1-6@m"></div>
     
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <ul uk-accordion>
              <li>
                <a class="uk-accordion-title uk-text-large" style="color:#24718A" href="#">Intput ingredients</a>
     
                </a>
                <div class="uk-accordion-content">

                  <form method="POST" action="{% url 'search-drugs'%}">
                    {% csrf_token %}
                    <input placeholder="Enter substances separated by commas" class="uk-input uk-margin-small-bottom" type="text" name="substances"></input>
                    <button type="submit" formmethod="post" style="color: white; background-color: #24718A;" class="uk-button uk-button-secondary uk-width-1-1" name="text-input">Search</button>
                  </form>
     
                </div>
              </li>
              <li>
                <a class="uk-accordion-title uk-text-large" style="color:#24718A" href="#">Upload photo</a>
                <div class="uk-accordion-content">


                  <form method="POST" action="{% url 'search-drugs' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="js-upload uk-placeholder uk-text-center">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Attach image by dropping it here or</span>
                        <div uk-form-custom>
                        <input type="file" name="image">
                        <span class="uk-link">selecting one</span>
                        </div>
                    </div>
                    <button type="submit" style="color: white; background-color: #24718A;" class="uk-button uk-button-secondary uk-width-1-1" name="image-input">Search</button>
                  </form>


                </div>
              </li>
     
            </ul>
            
          </div>
        </div>
        <div class="uk-width-1-6@m"></div>
      </div>
{% endblock content %}