::-webkit-input-placeholder {
    color: #808080;
    text-align: center;
}
     
:-moz-placeholder {
    color: #808080;
    text-align: center;

}

:focus {
    outline: 0;
}

#in:focus, input:focus{
    outline: none; !important;
    border: none; !important;
}

input:focus {
    outline:0;
}

input:active {
    outline: none;
    border: none;
    background-color: gray;
}!important;